body {
  padding-bottom: 20px;
}

.fixed, .container {
  width: @screen-md-max;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}

.fixed {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 0;

  .padded {
    padding: 0 20px 10px;
  }
}

.jumbotron-header {
  > .fixed.no-header {
    margin-top: @navbar-height;
  }

  > .header {
    > img {
      display: block;
      height: 204px;
      margin: @navbar-height + 10 auto 0;
    }

    > .header-nav {
      margin-top: @navbar-height + 10;
      font-size: @font-size-h3;
      color: @headings-color;
      .nav-icon {
        float: left;
        color: @brand-secondary;
        margin: 1px 10px 0 0;

        > .material-icons {
          font-size: @font-size-h3;
          padding: 2px;
        }
        :hover {
          background: rgba(0, 0, 0, 0.1);
          border-radius: 50%;
        }
      }
    }
    
    > .nav.nav-tabs {
      text-align: center;

      > li {
        float: none;
        display: inline-block;
      }
    }
  }

  @media (min-width: @screen-md-max) {
    border-top: 400px solid lighten(@brand-secondary, 13.5%);
    > .fixed {
      padding-top: 1px;
      min-height: 200px;

      &.no-header {
        margin-top: -350px + @navbar-height;
      }
    }

    > .header {
      margin: -350px + @font-size-h3 auto 16px;
      width: @screen-md-max;
      max-width: 100%;
      color: #fff;

      > img {
        margin: 30px auto;
      }

      > .header-nav {
        margin-top: 0;
        color: #fff;

        .nav-icon {
          color: #fff;
          :hover {
            background: rgba(255, 255, 255, 0.1);
          }
        }
      }

      > .nav.nav-tabs {
        text-align: left;
      }
    }
  }
}

.navbar-right {
  @media (min-width: @screen-md-max) {
    margin-right: 10px;
  }
}

.navbar-header {
  > .navbar-brand {
    cursor: default;
  }
}

.modal-content {
  border-radius: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/*
 * NO ARROWS
 */
.tooltip-arrow, .popover > .arrow {
  display: none;
}
